/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/ 

:root {
  --primary-color: #F9F7FE;
  --secondary-color: #6C63FF;
  --tertiary-color: #9995e5;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.intro {
  background-color: var(--primary-color);
  text-align: center;
  padding: 0px 0px 276px 0px;
}

.intro p {
  font-size: 36px;
  padding: 276px 0px 0px 0px;
  font-weight: bold;
}

.intro h1 {
  font-size: 96px;
  padding: 16px 0px 0px 0px;
  font-weight: bold;
}

.intro h2 {
  font-size: 24px;
  padding: 7px 0px 0px 0px;
  margin-bottom: 49px;
  font-weight: medium;
}

.intro a {
  font-size: 18px;
  font-weight: medium;
}

.primary-btn {
  color: #ffffff;
  background-color: var(--secondary-color);
  padding: 18px 46px;
  border-radius: 4px;
}

.project-row {
  margin: 60px 0px;
  display: flex;
}

.project-col {
  padding: 0px 30px;
}

h3 {
font-size: 18px;
text-align: center;
margin: 131px;
font-weight: medium;
}

h2 {
font-size: 64px;
margin-bottom: 55px;
font-style: normal;
font-weight: 400;
}

p {
font-size: 16px;
margin-bottom: 50px;
line-height: 30px;
font-style: normal;
font-weight: 400;
}

.secondary-btn {
  color: var(--secondary-color);
  font-size: 16px;
  padding: 18px 25px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  font-style: normal;
font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}

@media (max-width:960px){

  .intro {
    padding: 0px 0px 50px 0px;
  }

  .intro p {
    font-size: 30px;
    padding: 50px 0px 0px 0px;
    margin: 0px;
  }

  .intro h1 {
    font-size: 40px;
  }

  .intro h2 {
    font-size: 20px;
  }

  .intro a {
    font-size: 16px;
  }

  .primary-btn {
    padding: 16px 30px;
    border-radius: 4px;
  }

h3 {
  margin: 50px 0px;
}

h2 {
  font-size: 40px;
  margin: 10px 0px;
  }
  
  p {
  font-size: 14px;

  }
  
  .secondary-btn {
    font-size: 16px;
    padding: 16px 30px;
  }

  .project-col {
    margin-bottom: 50px;
  }

}