/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/ 

:root {
  --primary-color: #F9F7FE;
  --secondary-color: #6C63FF;
  --tertiary-color: #9995e5;
}

body {
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.intro {
  background-color: var(--primary-color);
  text-align: center;
  padding: 0px 0px 276px 0px;
}

.intro p {
  font-size: 36px;
  padding: 276px 0px 0px 0px;
  font-weight: bold;
}

.intro h1 {
  font-size: 96px;
  padding: 16px 0px 0px 0px;
  font-weight: bold;
}

.intro h2 {
  font-size: 24px;
  padding: 7px 0px 0px 0px;
  margin-bottom: 49px;
  font-weight: medium;
}

.intro a {
  font-size: 18px;
  font-weight: medium;
}

.primary-btn {
  color: #ffffff;
  background-color: var(--secondary-color);
  padding: 18px 46px;
  border-radius: 4px;
}

.project-row {
  margin: 60px 0px;
  display: flex;
}

.project-col {
  padding: 0px 30px;
}

h3 {
font-size: 18px;
text-align: center;
margin: 131px;
font-weight: medium;
}

h2 {
font-size: 64px;
margin-bottom: 55px;
font-style: normal;
font-weight: 400;
}

p {
font-size: 16px;
margin-bottom: 50px;
line-height: 30px;
font-style: normal;
font-weight: 400;
}

.secondary-btn {
  color: var(--secondary-color);
  font-size: 16px;
  padding: 18px 25px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  font-style: normal;
font-weight: 400;
}

.projects a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}

.content {
  margin-bottom: 80px;
}

.content h1 {
  font-size: 64px;
  margin: 259px 0px 103px 0px;
}

.content h2 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 29px;

}

.content p {
  font-size: 16px;
  padding-top: 28px;
  padding-bottom: 48px;
}

.content a {
  color: #000000;
}

.profile-img {
  margin: 259px 71px 99px 71px;
  line-height: 300px;
  border-radius: 10px;
}

.webpage-img {
  max-width: 400px;
  border-radius: 10px;
}

.content-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0px 9px 0px;
  text-align: center;
}

.content-container p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}

.footer {
  padding: 50px;
  margin: 158px 70px 78px 70px;
  border-radius: 10px;
  background-color: #F9F7FE;
}

.footer h3 {
  font-size: 64px;
  font-weight: 700;
}

.footer p{
  font-size: 27px;
  font-weight: 400;
  padding-bottom: 119px;
}

@media (max-width:960px){

  .intro {
    padding: 0px 0px 50px 0px;
  }

  .intro p {
    font-size: 30px;
    padding: 50px 0px 0px 0px;
    margin: 0px;
  }

  .intro h1 {
    font-size: 40px;
  }

  .intro h2 {
    font-size: 20px;
  }

  .intro a {
    font-size: 16px;
  }

  .primary-btn {
    padding: 16px 30px;
    border-radius: 4px;
  }

h3 {
  margin: 50px 0px;
}

h2 {
  font-size: 40px;
  margin: 10px 0px;
  }
  
  p {
  font-size: 14px;

  }
  
  .secondary-btn {
    font-size: 16px;
    padding: 16px 30px;
  }

  .project-col {
    margin-bottom: 50px;
  }

  .about{
    text-align: center;
    padding: 0;
    }
  
    .about img {
      margin: 70px;
    }

}